<?xml version="1.0"?>

<configuration>

    <system.web>
      <compilation targetFramework="4.5" />
    </system.web>

    <system.webServer>
      <rewrite>
        <rules>
          <rule name="Redirect to SPA main page" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAll">
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
              <add input="{REQUEST_FILENAME}" pattern="cordova.js$" negate="true" />
              <add input="{REQUEST_FILENAME}" pattern=".js.map$" negate="true" />
            </conditions>
            <action type="Rewrite" url="/" />
          </rule>
        </rules>
      </rewrite>
      <staticContent>
        <remove fileExtension=".svg" />
        <remove fileExtension=".eot" />
        <remove fileExtension=".woff" />
        <remove fileExtension=".woff2" />
        <remove fileExtension=".ts" />

        <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
        <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
        <mimeMap fileExtension=".woff" mimeType="application/x-woff" />
        <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
        <mimeMap fileExtension=".ts" mimeType="application/x-typescript" />
      </staticContent>
    </system.webServer>

</configuration>
